body {
	width: 100%;
	max-width: 768px;
	font-family: 'Arial', sans-serif;
	margin: 0 auto;
	padding: 15px;
	background: #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	font-size: 18px;
	margin: 15px auto;
	color: #333;
}
a {
	text-decoration: none;
}
.btn, .btn:focus {
	padding: 10px 30px;
	color: #fff;
	background: #010101cc;
}
.btn:hover {
	background: #010101;
}
#about {
	text-align: center; 
	padding: 15px; 
	margin-bottom: 15px;
	background: #fefefe;
}
/*-- Styles for Dynamic Images --*/
.section {
	padding: 5px 15px 15px;
	background: #f7f7f7;
}
.section:not(:last-child) {
	margin-bottom: 15px;
}
.image-container {
	width: 100%;
	margin: 0 auto;
}
.image-container:not(:last-child) {
	margin-bottom: 15px;
}

/*-- Additional image styles --*/
.round .image-container {
	max-width: 600px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
}